.Header {
    background-color: #292929;
    width: calc(1.27 * (100vw/3));
    height: calc(100vh/6);
    margin: 10px;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
}

.Title {
    font-size: calc(16px + 2vmin);
    font-weight: bold;
    margin-top: 10px;
    margin-left: 10px;
}

.Description {
    margin-top: 7px;
    margin-left: 10px;
}



