.Name-div {
    background-color: #292929;
    margin-top: 5px;
    color: #FFFFFF;
    min-width: calc(100vh/9);;
    display: flex;
    flex-direction: column;
    
}

.NameQuestion-div {
    margin-left: 10px;
    margin-top: 10px;
}

.InputName-div {
    margin-left: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.Name-text {
    font-size: calc(4px + 2vmin);
    width: 95%;
    max-lines: 1;
    background-color: #ABABAB;
    color: black;
    font-weight: 500;
}

.Asterik {
    color: red;
}